/**
 * @typedef {object} I{{pascalCase name}}Props
 * @property {string} [className]
 * @param { I{{pascalCase name}}Props } props
 */
export function {{pascalCase name}}(props) {
  return (
    <div>
      {{pascalCase name}} component
    </div>
  );
}
